.task-card {
  border: 0.063rem solid;
  border-radius: 0.313rem;
  height: 10.188rem;
  padding: 0.625rem;
  width: 23.875rem;

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0rem;
    line-height: 1.75rem;
    text-align: left;
  }

  &--done {
    &__title {
      font-size: 1.5rem;
      font-weight: 700;
      letter-spacing: 0rem;
      line-height: 1.75rem;
      text-align: left;
      text-decoration: line-through;
    }
  }
}
