.task-card {
    border-radius: 0.313rem;
    border: 0.063rem solid;
    height: 10.188rem;
    width: 23.875rem;
    padding: 10px;

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
    }
}
