.task-board {
  margin: auto;
  max-width: 78rem;

  &__create-button-container {
    &.margin-bottom {
      margin-bottom: 0.625rem;
    }
  }

  &__content {
    .flex {
      display: flex;
    }

    .wrap {
      flex-wrap: wrap;
    }
  }
}
