@import "/src/index.scss";

.navbar {
  background-color: $white;
  border-bottom: 0.063rem solid $light-periwinkle;

  &__container {
    align-items: center;
    display: flex;
    height: 4.5rem;
    justify-content: space-between;
    margin: auto;
    width: 80%;

    &__logo {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    &__title {
      color: $lavender-blue;
      padding-left: 0.875rem;
    }
  }

  &__search-bar {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    &--field {
      background-color: $white;
      border-radius: 0.313rem;
      border: 0.188rem solid $light-blue;
      color: $navy-blue;
      font-size: 1rem;
      font-weight: 500;
      height: 2.25rem;
      margin-right: 1.063rem;
      width: 32.375rem;
      font-weight: 500;
      padding: 0 0.75rem;
    }

    &--field:focus {
      outline: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    &__container {
      position: relative;
    }

    &__search-bar {
      &--field {
        top: 4.9rem;
        width: calc(100% - 1.75rem);
        margin: auto;
        margin: 0;
        position: absolute;
      }
    }
  }
}
