@import "/src/index.scss";

.task-form {
    border-radius: 0.313rem;
    border: 0.063rem solid;
    height: 10.188rem;
    width: 23.875rem;
    padding: 0.625rem;

    &__textarea {
        border-radius: 0.313rem;
        border: 0.188rem solid;
        height: 5rem;
        resize: none;
        width: 21.938rem;
    }

    &__error {
        color: $red;
        display: block;
    }
}
