@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$blue-grey: #bbbdd0;
$light-blue: #d1d8ff;
$lavender-blue: #7a8dfd;
$light-periwinkle: #dde2ff;
$light-purple: #f8f9ff;
$navy-blue: #32394b;
$danger: #ff0000;
$transparent-blue: #ffffff56;
$vivid-green: #0bc375;
$white: #ffffff;

* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: $light-purple;
  font-family: "Roboto", sans-serif;
}
