@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$light-blue: #d1d8ff;
$red: #ff0000;

* {
  font-family: "Roboto", sans-serif;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}
